*{
  box-sizing: border-box;
}
#container{
  width: 100%;
  min-height: 200px;
  height: auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}
.divProduct{
  width: 200px;
  height: 200px;
  border: 1px solid red;
}